<div class="w-50 mx-auto my-2">
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="w-50 mx-auto my-2">
    <div class="mb-3">
      <Label class="form-label" for="userName">User Name </Label>
      <input class="form-control" formControlName="userName" type="text" name="userName" id="userName" />
    </div>
    <div class="mb-3">
      <label class="form-label" for="password"> Passowrd</label>
      <input class="form-control" formControlName="password" type="password" name="password" id="password" />
    </div>
    <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">
      Login
    </button>
  </form>
  <div *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
  <div class="text text-info">
    Not registerd yet please <a [routerLink]="['/signUp']"> Sign Up</a>
  </div>
</div>