<form [formGroup]="addForm" (ngSubmit)="add()">
    <div class="from-group mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" formControlName="name" name="name" id="name">
    </div>
    <div class="from-group mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" formControlName="description" name="description" id="description">
    </div>
    <div class="from-group mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="text" class="form-control" formControlName="price" name="price" id="price">
    </div>
    <div class="from-group mb-3">
        <label for="discount" class="form-label">Discount</label>
        <input type="text" class="form-control" formControlName="discount" name="discount" id="discount">
    </div>
    <div *ngFor="let i of categories">
        <input type="checkbox" (click)="getValue($event,i)"> {{i.name}}
    </div>
    <div class="from-group mb-3">
        <button type="submit" class="btn btn-primary" [disabled]="!addForm.valid">Add</button>
    </div>
</form>