<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['']">E-Com</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['homepage']">Home</a>
        </li>
      </ul>
      <div class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success" style="margin-right: 2px" type="submit">
          Search
        </button>
        <button class="btn btn-outline-success" type="submit" [hidden]="showLogin" [routerLink]="['login']">
          Login
        </button>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" [hidden]="!showLogin"
            data-bs-toggle="dropdown" aria-expanded="false">
            {{currentUser}}
          </button>
          <ul class="dropdown-menu" style="left: unset;
          right: 0;" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" [routerLink]="['/api']">API Dashboard</a></li>
            <li><a class="dropdown-item" [routerLink]="['/user/dashboard']">Dashbpard</a></li>
            <li><a class="dropdown-item" [routerLink]="['/user/order']">My Order</a></li>
            <li><a class="dropdown-item" [routerLink]="['/user/cart']">My Cart</a></li>
            <li class="text-danger"><a class="dropdown-item text-danger" (click)="logOut()"
                [routerLink]="['homepage']">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>