<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="basePath">logs</Property>
	</Properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n" />
    </Console>
		<RollingFile
			name="rollingFile"
			fileName="logs/application.log"
			filePattern="logs/application.%d{dd-MMM}.log.gz"
			ignoreExceptions="false">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
			</PatternLayout>
			<Policies>
<!--				<TimeBasedTriggeringPolicy filePattern="logs/application.%d{dd-MMM-hh}.log.gz" />-->
				<SizeBasedTriggeringPolicy size="1 MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>
  </Appenders>
  <Loggers>
	   <Logger name="org.springframework.security" additivity="false" level="debug">
<!--            <AppenderRef ref="Console" />-->
<!--            <AppenderRef ref="rollingFile" />-->
        </Logger>
<!--	   <Logger name="eCom.backEnd" additivity="false" level="debug">-->
<!--            <AppenderRef ref="Console" />-->
<!--            <AppenderRef ref="rollingFile" />-->
<!--        </Logger>-->
<!--        <Logger name="org.springframework.security.web.FilterChainProxy" additivity="false" level="trace">-->
<!--            <AppenderRef ref="Console" />-->
<!--            <AppenderRef ref="rollingFile" />-->
<!--        </Logger>-->
<!--        <Logger name="org.springframework.security.web.session" additivity="false" level="trace">-->
<!--            <AppenderRef ref="Console" />-->
<!--            <AppenderRef ref="rollingFile" />-->
<!--        </Logger>-->
<!--        <Logger name="eCom.backEnd.filter.interceptor" additivity="false" level="debug">-->
<!--            <AppenderRef ref="Console" />-->
<!--            <AppenderRef ref="rollingFile" />-->
<!--        </Logger>-->
    <Root level="info">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>